body, h1, h2, h3 {
	margin: 0;
}

.view {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.btn, .btn:visited {
	border-radius: 8px;
	border: 2px solid rgba(255, 230, 30, 0.75);
	font-family: 'changchangregular';
	background: #002244;
	background-image: linear-gradient(0deg, #002244 0%, #005599 100%);
	font-weight: normal;
}

.btn:hover {
	border: 2px solid rgba(255, 230, 30, 1.0);
	background-image: linear-gradient(180deg, #002244 0%, #005599 100%);
}

.btn:active, .btn:focus {
	border: 2px solid rgba(255, 230, 30, 0.75);
	outline: 0 !important;
}

.btn-lg {
	font-size: 24px;
}

h4 {
	font-family: 'changchangregular';
	font-size: 30px;
	color: #00173C;
	line-height: 51px;
}

.modal p {
	font-family: 'OpenSans', sans-serif;
	font-size: 18px;
	color: #001231;
	line-height: 21px;
}